@import "../css/base.less";
body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  background: @backgroundColor;
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: @scrollColor;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-corner {
    background: transparent !important;
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}::selection{
  background: @textDefault !important;
}
.big-btn {
  width: 100%;
  height: 56px !important;
  margin-top: 8px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  svg {
    width: 20px;
    height: 20px;
    fill: #000;
    margin-right: 5px;
  }
  span {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
  }
}
.cancel-btn {
  width: 176px ;
  height: 48px !important;
  font-weight: 400 !important;
  background: @buttonDetailDefault !important;
  border: 1px solid @borderDefault !important;
  &:hover{
    background: @buttonDetailHover !important;
  }
  &:focus{
    background: @buttonDetailHover !important;
  }
  span {
    font-weight: 400 !important;
    // font-size: 16px !important;
    color: @themeColor !important ;
  }
}
.confirm-btn {
  width: 176px;
  height: 48px !important;
  span {
    // color:#222 !important ;
    // font-size: 16px !important;
  }
}
.max-btn {
  width: 38px !important;
  height: 20px !important;
  padding: 0 !important;
  font-size: 12px !important;
}
.induction {
  padding: 16px;
  background: @cardEmphasize;
  .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    // border-bottom: 1px solid;
    // border-image: linear-gradient(270deg, rgba(47, 98, 87, 0), rgba(32, 71, 63, 1), rgba(47, 98, 87, 0)) 1 1;
    // height: 40px;
    // line-height: 40px;
    &:nth-last-child(1){
      margin-bottom: 0;
    }
    .induction-text {
      color: @textDefault;
      font-size: 12px;
    }
    .induction-value-change{
      display: flex;
      align-items: center;
      .icon-change{
        width: 18px;
        height: 16px;
        fill: @buttonDefault;
        margin-left: 5px;
        &:hover{
          fill: @buttonHover;
        }
      }
    }
    .induction-value {
      color: @textActive;
      font-size: 12px;
    }
  }
}
.textDefault {
  color: @textDefault;
}
.text-active {
  color: @textActive;
}
.price-range-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: @cardEmphasize !important;
  margin-top: 10px;
  .price-item {
    flex: 1;
    padding: 8px 0;
    text-align: center;
    font-size: 12px;
    color: @textDefault;

    .title {
      font-size: 12px;
      color: @textDefault;
    }
    .price {
      font-size: 14px;
      color: #fff;
      padding-top: 8px;
      margin-bottom: 0px;
    }
    .text {
      font-size: 12px;
      color: @textDefault;
      padding-top: 8px;
    }
  }
}
.text-block {
  display: flex;
  flex: 1;
  .note {
    text-align: center;
    font-size: 12px;
    padding: 12px ;
    margin: 0 auto;
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    color: @textDefault;
    line-height: 20px;
  }
}

.title-right{
  display: flex;
  align-items: center;
  color: @textEffect;
  .slippage-icon {
    display: flex;
    align-items: center;
    &:hover {
      span {
        color: @textActive;
      }
      svg {
        fill: @textActive;
      }
    }
    svg {
      width: 20px;
      height: 20px;
      fill: @textEffect;
    }
    span {
      padding-top: 1px;
      font-size: 12px;
      margin: 0 16px 0 4px;
    }
  }
  .clear{
    margin-right: 16px;
    &:hover{
      color: @textActive;
    }
  }
  .information-icon {
    margin-right: 16px;
    width: 20px;
    height: 20px;
    fill: @textEffect;
    &:hover{
      fill: @textActive;
    }
  }
  .refresh-icon {
    width: 16px;
    height: 16px;
    fill: @textEffect;
  }
  .refresh {
    animation: spin 1s linear infinite;
  }
}
.showMyLiquidity{
  border: 1px solid @borderDefault;
  margin-top: 8px;
  .myLiquidity {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background: @cardTop;
    .left {
      width: 105px;
      font-size: 16px;
      color: @textActive;
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      p {
        margin-bottom: 0 !important;
        font-size: 16px;
        font-weight: 500;
        color: @textActive;
      }
      span {
        font-size: 14px;
        font-weight: 400;
        color: @textDefault;
      }
    }
  }
  .liquidityAsset {
    height: 92px;
    padding: 16px;
    background: @cardCenter;
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
      .left {
        display: flex;
        align-items: center;
        img {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
        span {
          font-size: 12px;
          font-weight: 400;
          color: @textActive;
        }
        .coin-name{
          font-size: 12px;
          font-weight: 400;
          margin-left: 4px !important;
          color: @textDefault !important;
        }
      }
      .right {
        font-size: 12px;
        font-weight: 400;
        color: @textActive;
      }
    }
  }
}

.loading-animate {
  animation: loading 1.5s infinite linear;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}

.notify-icon {
  width: 16px;
  height: 16px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}


@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@media (max-width: 750px) {
  .induction{
    padding: 16px 8px;
  }
  .big-btn{
    height: 48px !important;
  }
}